@charset "utf-8";

*{
    font-family: helvetica;
}

li{
    list-style: circle;
}
.b{ 
    list-style: square;
}

.lighttheme{
    color: black;
    background-color: green;
}

.darktheme{
    color: green;
    background: black;
}
