@charset "utf-8";

body{
    font-family: monospace;
}
ul{
    font-family: helvetica;
}
li{
    list-style: circle;
}
.b{ 
    list-style: square;
}
#a{
    font-family: monospace;
}

.lighttheme{
    color: #000000;
    background-color: #00FF00;
}
